table.main {
}

tr.row {
}

td.cell {
}

div.block {
}

div.paragraph {
}

.font0 {
    font: 8pt Century Schoolbook, serif;
}

.font1 {
    font: 9pt Century Schoolbook, serif;
}

.font2 {
    font: 10pt Century Schoolbook, serif;
}

.font3 {
    font: 11pt Century Schoolbook, serif;
}

.font4 {
    font: 13pt Century Schoolbook, serif;
}

.font5 {
    font: 8pt MS Mincho, monospace;
}
