table.main {
}

tr.row {
}

td.cell {
}

div.block {
}

div.paragraph {
}

.font0 {
    font: 9pt Candara, sans-serif;
}

.font1 {
    font: 4pt Century Schoolbook, serif;
}

.font2 {
    font: 5pt Century Schoolbook, serif;
}

.font3 {
    font: 8pt Century Schoolbook, serif;
}

.font4 {
    font: 9pt Century Schoolbook, serif;
}

.font5 {
    font: 11pt Century Schoolbook, serif;
}

.font6 {
    font: 13pt Century Schoolbook, serif;
}

.font7 {
    font: 5pt Georgia, serif;
}

.font8 {
    font: 5pt MS Mincho, monospace;
}
